<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Translator API reverse engineering</title>
</head>
<body>
<hi>Translator API</hi>
<p>URL format: http://127.0.0.5001/api/v1/word</p>
<p>URL Example: http://127.0.0.5001/api/v1/sun</p>
<!-- https://api-testing-jan-20-2025.s3.eu-west-2.amazonaws.com/api_reverse.html/api/v1/sun -->
<p>URL Example:https://api-testing-jan-20-2025.s3.eu-west-2.amazonaws.com/api_reverse.html/api/v1/sun</p>
<!--    -->
<p>{{ data }}</p>
</body>
</html>